.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 207 233);
  --md-sys-color-surface-tint: rgb(249 177 219);
  --md-sys-color-on-primary: rgb(67 18 53);
  --md-sys-color-primary-container: rgb(190 124 164);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(245 211 228);
  --md-sys-color-on-secondary: rgb(52 31 44);
  --md-sys-color-secondary-container: rgb(165 137 152);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 211 191);
  --md-sys-color-on-tertiary: rgb(62 29 11);
  --md-sys-color-tertiary-container: rgb(185 133 108);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(24 17 21);
  --md-sys-color-on-background: rgb(237 223 228);
  --md-sys-color-surface: rgb(24 17 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(79 68 73);
  --md-sys-color-on-surface-variant: rgb(233 216 223);
  --md-sys-color-outline: rgb(190 174 181);
  --md-sys-color-outline-variant: rgb(155 140 147);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(237 223 228);
  --md-sys-color-inverse-on-surface: rgb(48 40 44);
  --md-sys-color-inverse-primary: rgb(108 53 89);
  --md-sys-color-primary-fixed: rgb(255 216 236);
  --md-sys-color-on-primary-fixed: rgb(41 0 30);
  --md-sys-color-primary-fixed-dim: rgb(249 177 219);
  --md-sys-color-on-primary-fixed-variant: rgb(87 36 70);
  --md-sys-color-secondary-fixed: rgb(251 217 234);
  --md-sys-color-on-secondary-fixed: rgb(29 11 23);
  --md-sys-color-secondary-fixed-dim: rgb(222 190 206);
  --md-sys-color-on-secondary-fixed-variant: rgb(69 48 60);
  --md-sys-color-tertiary-fixed: rgb(255 219 203);
  --md-sys-color-on-tertiary-fixed: rgb(36 9 0);
  --md-sys-color-tertiary-fixed-dim: rgb(244 186 158);
  --md-sys-color-on-tertiary-fixed-variant: rgb(82 45 25);
  --md-sys-color-surface-dim: rgb(24 17 21);
  --md-sys-color-surface-bright: rgb(75 66 70);
  --md-sys-color-surface-container-lowest: rgb(11 6 9);
  --md-sys-color-surface-container-low: rgb(35 28 31);
  --md-sys-color-surface-container: rgb(45 38 42);
  --md-sys-color-surface-container-high: rgb(56 48 52);
  --md-sys-color-surface-container-highest: rgb(68 59 63);
}
